#!/bin/bash

# Home directory location
HOMEDIR=/path/to/home

# Git dir relative to HOMEDIR
GITDIR=Documents/Git
GITUSERNAME=username
GITEMAIL=email

# Location and name of generated bash setup file
OUTFILE=~/setup.sh

# Files to copy to homedir
FILESTOCOPY=".tmux.conf .vimrc"

# Bash profile scripts to add 'source setup.sh' to
BASHPROFILEFILES=".bashrc"

# Setup echo on (true) or off (false)
SETUPECHO=false
